.narrow {
    width: 80%;
    margin-left: 10%;
    
}

.icon-section{
    background-color: #F6F6F6; 
    height: 500px;
}

.icons{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.icon-content{
    width: 24%;
    height: 300px;
    text-align: center;
    margin: 10px;
    margin-top: 100px;
    overflow: hidden;

}

.icon-content h1 {
    margin: 0;
    color: #AC1B3C;
}

.icon-content p {
    color: #A2A3A7;
}

.icon-content img {
    height: 100px;
    width: 100px;
}

.icon-section{
    
    button{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-left: 45%;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    }
}